body {
    font-family: 'VT323', monospace;
    margin: 100px 20px;
    background-color: #F6E9CF;
    height: 100%;
    background-image: url("../img/background-total.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .board-area {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */


#main-board {
    background-image: url(../img/background_HD.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:10px;
    height: 600px;
    width: 530px;
    margin-bottom: 150px;
}

.game-title h1 {
    font-size: 112px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.game-info {
    width: 1000px;
    text-align: center;
    margin-left: 25px;
    /* margin-right: 135px; */
    margin-bottom: 0px;
}

.turn {
    font-size: 32px;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 10px;
    padding: 8px 22px 0 22px;
    
}

.score h2 {
    font-size: 40px;
    margin: 0;
}

.score p, 
.score span {
    font-size: 144px;
    margin: 0;
}



.tile {
    height: 192px;
    font-size: 24px;
    font-weight: bold;
  }

.tile-row {
    width: calc(160px * 3);
    height: calc(192px * 3);
}

.player1-hands-cards,
.player2-hands-cards {
    /* height: calc(112px * 5); */
    width: 162px;
    margin: 3px 0;
    font-size: 24px;
}

.player1-hands-cards {
    /* background-color: blue; */
    color: white;
}

.player1-hands-cards:hover,
.player2-hands-cards:hover {
    width: 10000px;
    height: 10000px;
}


.player2-hands-cards {
    /* background-color: red; */
    color: white;
}


.player-hands {
    width: 300px;
    margin: 0 50px 100px 50px;
    height: 1000px;
}

.color-red {
    background-color: red;
    color: white;
}

.color-blue {
    background-color: blue;
    color: white;
}