body {
  /* background-image: url(../img/background_start.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'VT323', monospace;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 80px;
}
img {
  margin: 0;
  width: 20rem;
}

h2 {
  font-size: 44px;
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
  align-self: center;
  display: flex;
  margin-top: 2rem;
}

.none {
  display: none;
}

.click {
  border: 2px solid black;
  width: 10rem;
  height: 5rem;
  line-height: 5rem;
  border-radius: 2rem;
  text-align: center;
  background-color: lightgray;
  font-size: 22px;
  margin-top: 4rem;
}

.click a {
  text-decoration: none;
  color: black;
}

.text {
  font-size: 42px;
  margin-top: 50px;
  text-align: center;
}

.start-game {
  height: 100px;
  width: 250px;
  border-radius: 50px;
  border: 3px solid black;
  margin-top: 20px;
  background-color: lightgray;
}

.start-game a {
  text-decoration: none;
  color: black;
  font-size: 42px;
  font-family: 'VT323', monospace;
}
